<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.springsource.ide.eclipse.gradle.launch">
<stringAttribute key="org.eclipse.debug.core.ATTR_REFRESH_SCOPE" value="${workspace}"/>
<listAttribute key="org.eclipse.debug.ui.favoriteGroups">
<listEntry value="org.eclipse.ui.externaltools.launchGroup"/>
</listAttribute>
<stringAttribute key="org.springsource.ide.eclipse.gradle.launch.PROJECT" value="sparkjobs"/>
<stringAttribute key="org.springsource.ide.eclipse.gradle.launch.TASKTEXT" value="fatJarWithTests"/>
</launchConfiguration>
